<!DOCTYPE html>
<html>

<head>
  <title> </title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>

<body>
  <!-- Head navigation -->


  <div class="sidenav">

    <img id="side_logo" src="images/talck_logo.png">
    <h2 id="logo_text">SNACK</h2>
    <br>
    <form action="/room" method="POST">
      <input name="room" type="text" required>
      <button id="add_room_btn">Lägg till rum!</button>
  </form>
    
    <a href="#">#Channel</a>
    <a href="#">#Skitsnack</a>
    <hr>
    <br>
    <!-- Side navigation-->

    <div id="room-cont">

    </div>

    <form action="/room" method="POST">
      <ul>
          
          <% for(let i=0; i < data.length; i++){ %>
          <li> <a href="/<%= data[i].username %>"><%= data[i].username %></li></a>
          <% } %>
      </ul>
  </form>

  </div>




  <!-- Main -->
  <div class="main">
    <div id="chatbox">
      <label id="username_chat">Username är inloggad</label>
      <div id="msg-cont">

      </div>
    </div>

  </div>
</body>

</html>
