<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Snack</title>
</head>

<body>
    <div id="container">
        <div class="forms">
            <header>
                <img class="logo register" src="/images/logo4.png" alt="logo">
            </header>
            <div class="formContainer">
                <h3 class="formH3">Create new user</h3>
                <form id="formAddUser" name="adduser" method="post" action="/register">
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputUserName" name="username"
                            placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="inputUserPassword" name="userpassword"
                            placeholder="Password">
                    </div>
                    <button type="submit">Create</button>
                </form>
            </div>
        </div>
        <div class="forms">
            <div class="formContainer">
                <h3 class="formH3">Login</h3>
                <form id="formLogin" name="loginuser" method="POST" action="/login">
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputUserName" name="username"
                            placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="inputUserPassword" name="userpassword"
                            placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>