<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Head navigation -->

    <!-- Side navigation -->
  <div class="sidenav">
  
  <img id="side_logo" src="images/talck_logo.png">
  <h2 id="logo_text">SNACK</h2>
  <br>
  <a href="#">#Channel</a>
  <a href="#">#Skitsnack</a>
  <hr>
  <br>
  <a href="#">@PatrikJ</a>
  <a href="#">@RobinN</a>
   <a href="#">@KevinF</a>
   <hr>
   
</div>




<!-- Page content -->
<div class="main">
 <div class="chatbox">
 <table id="content">

</table>

 
 
 </div>


</div>

<input id="nameinput" type="text" placeholder="Fyll i ditt namn" ></input>
<input id="textinput" type="text" placeholder="Skriv ditt meddelande.."></input><button id="send_btn"type="button" value="submit">Skicka</button>


<script src="javascripts/testing.js"></script>
  </body>
</html>
