* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../../images/background.jpg');

}

a {
  color: #00B7FF;
}

header {
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 30px;
}

.register {
  margin-bottom: 0;
}

#logo img {
  text-align: center;
}

.formContainer {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.formContainer:last-child {
  margin-bottom: 0;
}

.forms {
  background: #00254f;
  width:500px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}

.formH3 {
  margin-bottom: 10px;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
}

.uploadH3 {
  color: white;
}

#upload_input {
  background: green;
}

.sidenav {
  height: 100vh;
  width: 20%; 
  float: left;
  background-color: #00254f; 
  overflow-x: hidden; 
  padding-top: 20px;
  text-align: center;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}

#chat_container {
  margin: 1.5%;
  float: right;
  height: 90vh;
  width: 77%;
  overflow: auto;
}

.main {
  background-color: white;
  margin-bottom: 10px;
  overflow: auto;
  height: 70vh;
  border-radius: 5px;
  padding: 10px;
  
}

#msg-input {
  margin-top: 10px;
}

#msg-inp  {
  width: 100%;
}

.chatbox{
  margin-left: 0 auto;
  width: 400px;
  height: 400px;
  border-color: black;

}

#add_room_btn {
  border: 2px solid white;
  width: 50%;
  background: none;
}

#upload_btn {
  border: 2px solid white;
  width: 50%;
  background: none;
}

button {
  background-color: #ff471d;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  color: white;
  font-size: 15px;
}

input[type=text],[type=password] {
  border: 2px solid white;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 15px;
}

#logo_text{
margin: 60px;
color: white;
font-family: 'Roboto', sans-serif;
}

p:nth-child(odd) {
  background: rgb(209, 209, 209);
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
}

p:nth-child(even) {
  background: rgb(110, 110, 110);
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
}

li{
  list-style: none;
}

ul{
  margin-left: 0;
}

h2{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  
}

#useronline{
  text-align: center;
}

#person{
color:green;
font-size: large;
}

#profil_pic{
  text-align: center;
  margin: 0 auto;
  width: 160px;
}

.chatbox_output{
  display: flex;
  overflow:auto;
  background: rgb(110, 110, 110);
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
}

#profileDiv {
  text-align: center;
}

#imageContainer {
  text-align: center;
}

#imageContainer img {
  width: 80px;
}
#name{
  width: 90%;
}
#chosFile{
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 10px; 
}