@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
}

a {
  color: #00B7FF;
}


.sidenav {
  height: 100%; 
  width: 200px; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: rgb(76, 12, 78); 
  overflow-x: hidden; 
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; 
  padding: 0px 10px;
  background-color: white;
  height: 70vh;
  display: grid;
  box-sizing: border-box;
  overflow: auto;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#side_logo{
  /* height: 70px; */
  width: 100px;
  display: flex;
  margin: 0 auto;

}

#msg-inp, #nameinput{
  margin-left: 160px;
  width: 70%;
}

.chatbox{
  margin-left: 0 auto;
  width: 400px;
  height: 400px;
  border-color: black;

}

#snd-btn{
  background-color: #ff471d;
  border: 2px solid #ff471d;
  border-radius: 5px;
  color: white;
  margin: 10px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

/* background-color: #ff471d;
        border: none;
        border-radius: 5px;
        padding: 5px;
        width: 100%;
        color: white;
        font-size: 15px; */

input[type=text] {
  border: 2px solid white;
  border-radius: 5px;
  width: 700px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 15px;
}

#logo_text{
margin: 60px;
color: white;
font-family: 'Roboto', sans-serif;
}

p:nth-child(odd) {
  background: rgb(209, 209, 209);
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
}

p:nth-child(even) {
  background: rgb(110, 110, 110);
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
}

#add_room_btn{
  margin-left: 40px;
  background-color:blue;
  border: none;
  color: white;
  margin: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

li{
  list-style: none;
  margin: 0 ;
}

ul{
  margin-left: 0;
}

h2{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  margin-left: 50px;
}

#useronline{

  align-content: left;
}
#person{
color:green;
font-size: small;
}


#profileDiv {
  text-align: center;
}

#profileDiv img {
  width: 50px;
}

